* {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 22px;
  color: darkturquoise;
  position: absolute;
  top: 10vh;
  left: 30%;
  right: 30%;
  width: 40%;
  text-align: center;
}
#audio-switch {
  position: fixed;
  right: 5vw;
  top: 5vw;
  cursor: pointer;
}

.display-none {
  display: none;
}

#name {
  display: block;
}

span {
  word-wrap: break-word;
  word-break: normal;
}

ul {
  list-style: none;
  height: 200px;
  display: flex;
}

body {
  background-color: #232323;
  transition: background-color 6s 1s linear;
}

.heart-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: red;
  margin-left: 10px;
  margin-right: 10px;
}

li:nth-child(1) {
  background-color: red;
  animation: love1 4s 0s infinite;
}
li:nth-child(2) {
  background-color: darkturquoise;
  animation: love2 4s 0.2s infinite;
}
li:nth-child(3) {
  background-color: darksalmon;
  animation: love3 4s 0.4s infinite;
}
li:nth-child(4) {
  background-color: deeppink;
  animation: love4 4s 0.6s infinite;
}
li:nth-child(5) {
  background-color: yellow;
  animation: love5 4s 0.8s infinite;
}
li:nth-child(6) {
  background-color: deeppink;
  animation: love4 4s 1s infinite;
}
li:nth-child(7) {
  background-color: darksalmon;
  animation: love3 4s 1.2s infinite;
}
li:nth-child(8) {
  background-color: darkturquoise;
  animation: love2 4s 1.4s infinite;
}
li:nth-child(9) {
  background-color: red;
  animation: love1 4s 1.6s infinite;
}

@keyframes love1 {
  30%, 50% {
    height: 60px;
    transform: translateY(-30px);
  }

  70%, 100% {
    height: 0;
    transform: translateY(0px);
  }
}

@keyframes love2 {
  30%, 50% {
    height: 125px;
    transform: translateY(-60px);
  }

  70%, 100% {
    height: 0;
    transform: translateY(0px);
  }
}

@keyframes love3 {
  30%, 50% {
    height: 160px;
    transform: translateY(-75px);
  }

  70%, 100% {
    height: 0;
    transform: translateY(0px);
  }
}

@keyframes love4 {
  30%, 50% {
    height: 180px;
    transform: translateY(-60px);
  }

  70%, 100% {
    height: 0;
    transform: translateY(0px);
  }
}

@keyframes love5 {
  30%, 50% {
    height: 200px;
    transform: translateY(-45px);
  }

  70%, 100% {
    height: 0;
    transform: translateY(0px);
  }
}




